#title{
  background-color: #ff4c68;
  color:white;
}

/* hirearcihal selectors me space ata hai jo same priority pe hai unme space nai ata!! */

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat-Bold', sans-serif;
}

h2{
  font-size: 3rem;
}


h3{
  font-weight: bold;
  font-size: 1.5rem;
}

.features-box{
  text-align: center;
  padding: 3%;
}

#features{
  padding: 7% 15%;
   /* background-color: black;
  margin:10%; padding or margin ka differnce smjhne  keliye kara tha; */
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.big-heading{
  font-family: 'Montserrat-Bold', sans-serif;

  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
}

.icon{
  color:#ef8172;
  margin-bottom:1rem;
}

.icon:hover{
  color:#ff4c68;
}

p{
  color:#8f8f8f
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container-fluid{
  padding:3% 15%;
}

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
}

.nav-item{
  padding-right: 18px;
  padding-left: 18px;
}

.nav-link{
  font-size:1.2rem;
  font-family: 'Montserrat', sans-serif;
  font: "Montserrat-Light";
}

.download-button{
  margin:5% 3% 5% 0;
}

.title-image{
  width:50%;
  transform:rotate(32deg);
  position: relative;
  bottom:-150px;
  z-index: 0;
  left:160px;
}


#testimonials{

  text-align: center;
  line-height: 1.5rem;
  color:#fff;
  background-color:#ef8172;
}

.carousel-item{
  padding:7% 15%;
}

.testimonial-img{
  border-radius: 100%;
  width:10%;
  margin:20px;
}

#press{
  background-color:#ef8172;
  padding-bottom: 7%;
  text-align: center;
}

.press-img{
  width:15%;
  margin: 20px 20px;
}

.my-btn{
  padding:3% 35%;
}

.my-btn:hover{
  color:black;
}

#pricing{
  padding:100px;
  text-align: center;
}

.pricing-column{
  padding:3% 2%;
}

#cta{
  background-color:#ff4c68;
  text-align:center;
  padding:5%;
}

.cta-text{
  font-family: 'Montserrat', sans-serif;
  font: "Montserrat-Bold";
  color:white;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  padding-bottom: 2%;
  margin: 0 15%;
}

.cta-btn{
  margin:1% ;
}

#footer{
  background-color: white;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 5%;
}

.foot{
  padding-left: 1%;
  padding-right: 1%;
}

.foot-text{
  padding-top:2%;
}

.card-text{
  color:#ff4c68;
}

.my-button{
  color:black;
}

@media (max-width:990px){

#title{
  text-align: center;
}

.title-image{
    position: static;
    transform: rotate(0);
  }
}
